//
   Created by thorhildur on 18.4.2015.
   This is the template for saving links to memes
template(name='addmeme')
   .add
      h3 paste the link to your meme in the box below
      form
         input(type="text", name="memeUrl", placeholder="meme URL")
         input(type="submit", class="success button")