//
   Created by thorhildur on 18.4.2015.
head
   title memes

body
   h1 Welcome to Meteor!
   +hello
   +addmeme
   +showmeme

template(name='hello')
   button Click Me
   p You've pressed the button {{counter}} times
