//
   Created by thorhildur on 18.4.2015.
   This is the template for showing the memes

template(name='showmeme')
   .show
      img(src='http://voices.nationalgeographic.com//files/2013/07/69369-cb1373915625-3.jpg')